$fa-font-path: '../../public/webfonts';
@import './node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import './node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import './node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import './node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import './node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss';

* {
  box-sizing: border-box;
}

$white: #ffffff;
$black: #333333;
$shadow: #666666;
$bg: #ebb9e2;
$bg-darker:#cf8ec3;
$bg-lighter: #f7d5f0;
$bg-button-active: #9f6094;

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $bg;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.piano {
  display: flex;
  padding: 10px;
  background: $bg-darker;
  border-radius: 5px;
}

#piano1stOctave, 
#piano2ndOctave {
  position: relative;
  list-style: none;
  display: flex;
  width: 420px;
  height: 180px;
}

.white-keys, .black-keys {
  position: absolute;
  display: flex;
  justify-content: center;
}

.black-keys {
  z-index: 2;
  display: flex;
  justify-content: flex-start;
}

.group-2 {
  margin: 0 0 0 37.5px;
  width:105px;
  display: flex;
  justify-content: flex-start;
}

.group-2 .black-key:first-child,
.group-3 .black-key:first-child {
  margin: 0
}

.group-3 {
  margin: 0 0 0 75px;
  width: 165px;
  display: flex;
  justify-content: flex-start;
}

.white-keys .key {
  width: 60px;
  height: 180px;
  border: 1px solid $shadow;
  border-right: none;
  background: $white;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}
.white-keys .key:last-child {
  border-right: 1px solid $shadow;
}
.white-keys>.key:hover {
  background: #f0f0f0;
}
.black-keys .black-key {
  top: -1px;
  width: 45px;
  height: 120px;
  background: $black;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 1px 4px $shadow;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  margin: 0 0 0 15px;
}
.black-keys .black-key:hover {
  background: #000;
  cursor: pointer;
}
.controls {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
}

.controls .fa {
  font-size: 16px;
}

.controls button {
  margin: 0 5px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 2px solid $bg-darker;
  background: $bg-lighter;
  color: $bg-darker;
  font-size: 25px;
  text-align: center;
}

.controls .rec-button-pressed,
.controls .rec-button-pressed:hover
 {
  background: #cc3636;
  border: 2px solid #cc3636;
  color: #f0afaf;

}

.controls button:hover:not([disabled]) {
  background: $bg-darker;
  color: $bg;
  cursor: pointer;
}

.controls button[disabled] {
  opacity: 0.5;
}

.controls button:active {
  background: $bg-button-active;
  color: $bg;
  border: 2px solid $bg-button-active;
  cursor: pointer;
}


